<div class="row">
  <div class="col-md-4">
    <h4><%= @page.title %></h4>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, reiciendis, a, voluptate est tenetur rerum ab totam consectetur magnam praesentium tempora eligendi? Temporibus tempore nulla ipsum maxime fuga molestiae quaerat!</p>
  </div>
    <div class="col-md-4">
    <h4>Page Title</h4>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, voluptatum iure accusamus consequuntur repudiandae numquam sed sunt voluptas et amet. Eveniet, illum ipsam aliquid veritatis molestiae eius corporis delectus explicabo?</p>
  </div>
    <div class="col-md-4">
    <h4>Page Title</h4>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, magnam, inventore repudiandae ea illum voluptatum dolorum facere earum vero ipsam doloremque rem deserunt officiis modi voluptatibus laborum ipsa aliquid voluptates.</p>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h4>Page Title</h4>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ut, ducimus, officiis a doloremque incidunt dicta officia tenetur voluptatum dolorem quo beatae reiciendis voluptate odit veritatis ex iure in cumque.</p>
  </div>
    <div class="col-md-4">
    <h4>Page Title</h4>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, impedit, qui eaque ratione quaerat blanditiis distinctio minima praesentium at tempore delectus eveniet itaque dolor perspiciatis veritatis fuga ipsam provident nesciunt.</p>
  </div>
      <div class="col-md-4">
    <h4>Page Title</h4>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, sint, beatae facere aliquam alias nihil excepturi. Nesciunt, non natus alias labore asperiores numquam veritatis. Non, voluptas obcaecati repellendus itaque saepe.f</p>
  </div>
</div>

